node_modules/
package-lock.json

# Environment variables (API keys, secrets, etc)
.env

# Log Files
.log 
*.log.*

# Cache files
/.cache/
/.eslintcache

# IDE/Editor-Specific
.vscode/

# MacOS
.DS_Store

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*