
.header-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	border: 1px solid seashell;
	z-index: 1;
	
}

.flex-container {
	display: flex;
	justify-content: flex-end;
	
}

.links {
	display: grid;
	gap: 10px;
}

.header-item {
	text-align: center;
}

.header-item-1 {
	grid-column: span 2;
	justify-items: center;
}

.header-item-2 {
	grid-column: span 1;
	
}

@media (max-width: 425px){
	.links {
		display: none;
	}	

	.header-item-1 {
		grid-column: span 3;
	}

	.header-item-2 {
		grid-column: none;
		display: none;
	}
}


.social-item{
	display: flex;
	justify-content: flex-end;
}



@media (max-width: 768px){
	.social-item {
		display: none;
	}
	.menu-icon {
		display: inline;
	}
}

.menu-icon {
	display: none;
}

.logo { 
	width: 40px;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}


.title {
	font-family: 'Courier New', Courier, monospace;
	font-size: 40px;
	margin: 10px;
	
	/* padding-left: 20px;
	margin: 0; */
}
 
@media (max-width: 1120px){
	.title {
		font-size: 30px;
	}
}

@media (max-width: 1024px){

}

@media (max-width: 768px){
	.title {
		font-size: 18px;
	}
}



.nav-list {
	/* display: block; */
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 0;
	padding-right: 20px;
}

.nav-item {
	margin-bottom: 0;
	margin-left: 1em;
}

.nav-item a {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.nav-item a:hover {
	color: #a8a39d;
	filter:drop-shadow(0 0 5em #ede0c8);
}

.nav-item.extraBorder  {
	/* border-bottom: 1px solid; */
}

