
.sidebar{
	/* position: fixed; */
	border: 1px solid;
	/* border-color: blue; */
	/* margin-right: 50px; */
	z-index: 1;
	/* padding: 0.50em; */
	display: flex;
	justify-content: space-between;
	margin-top: 0;
}

.social {
	/* display: flex; Use flexbox for layout */
	/* gap: 10px;  */
	/* margin-top: 10px; */
	/* width: 200px;   */
	/* height: 200px; */
	/* border: 1px solid; */
}


.logo { 
	width: 50px;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
}
}
*/

.title {
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	

	/* border: 1px solid ; */
	display: inline; /* Add this */
	justify-content: center; /* Add this */
	align-items: center; /* Add this */
/* 
	writing-mode: vertical-lr;
	text-orientation:sideways;    
	transform: rotate(180deg); */

	padding-left: 20px;
	margin: 0;
}
  
.nav-list {
	/* display: block; */
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 1.25em;
	padding-right: 20px;
}

.nav-item {
	margin-bottom: 0;
	margin-left: 1em;
	/* border-bottom: 1px solid white; Single border around the links container */
	/* border-top: 1px solid white; */
}

.nav-item a {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.nav-item a:hover {
	color: #a8a39d;
	filter:drop-shadow(0 0 5em #ede0c8);
}

.nav-item.extraBorder  {
	/* border-bottom: 1px solid; */
}