
.images-container {
  /* position: relative; */
  margin-top: 10px;
  display: grid;
  align-items: center;
  overflow-y: auto;
}
  
.images-item {
  display: inline-flex;
  column-gap: 10px;
}
  
.images-item img {
  width: 450px;
  height: auto;
  border: 1px solid;
  border-color: #fff8ed;
  object-fit: contain;
}
  