.whole-page {
  border: 1px solid;
  border-color: white;
  padding: 100px;
  display: inline-flex;
  margin: 25px;
  overflow-y: hidden;
  overflow-x:auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sidebar{
  border: 1px solid;
  border-color: white;
  margin-right: 50px;
}

.social {
  display: flex; /* Use flexbox for layout */
  gap: 10px; /* Space between items */
  border: 1px solid;
  border-color: white;
  margin-top: 10px;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 750;
  border: 1px solid;
  border-color: white;
  writing-mode: vertical-lr;  /* Vertical text from left to right */
  text-orientation: mixed;    /* Mixed orientation */
  transform: rotate(180deg);
  
}


.images {
  display: inline-flex;
  column-gap: 10px;

}

.images img {
  width: 425px;
  height: auto;
  border: 1px solid;
  border-color: white;
  object-fit: contain;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border: 1px solid;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

