.grid-container {
  display: grid;
	/* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: auto 1fr auto;
  border: 1px solid;
  border-color: #ede0c8;
  padding: 32px;
  /* display: flex; */
  position: fixed;
  margin: 32px;
  overflow-y: hidden;
  overflow-x:auto;
  row-gap: 12px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 2560px){

}

@media (max-width: 425px){
  .grid-container {
    margin: 16px;
    padding: 16px;
  }

  .header-links {
    display: none;
  }
}
.grid-item {

}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.footer-content {
  display: none;
}

.footer {
  display: none;
}

@media (max-width: 425px){
  .footer-content {
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
    row-gap: 8px;
  }
  
  .footer {
    display: block;
    
  }
}

