.grid-container {
  border: 2px solid;
  border-color: #ede0c8;
  padding: 50px;
  /* display: flex; */
  position: fixed;
  margin: 40px;
  overflow-y: hidden;
  overflow-x:auto;
  
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


@media (max-width: 425px){
  .grid-container {
    margin: 20px;
    padding: 20px;
  }
}
.grid-item {

}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


